@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Open Sans', sans-serif;
}

* {
  letter-spacing: -0.25px;
}

@layer base {
  :root {
    --sbi-blue: #1f4181;
    --sbi-blue-100: #003399;
    --sbi-blue-sub: #0a3e86;
    --blue-10: #e9ecf2;
    --blue-30: #bcc6d9;
    --blue-80: #13274d;
    --blue-90: #101a32;
    --slate-00: #f5f7f9;
    --slate-30: #c7cfd5;
    --slate-40: #b0b9c0;
    --slate-50: #9ba4ab;
    --slate-70: #6f7a81;
    --slate-80: #59656d;
    --slate-90: #455057;
    --slate-100: #303c44;
    --slate-110: #172733;
    --danger-60: #991a3d;
    --warning-10: #faefe6;
    --warning-60: #ce6102;
    --red-60: #ed1f27;
    --success-60: #1d8731;
    --radius: 0.5rem;
  }
}
